.login {
  .iphone {
    background-color: var(--primary);
    background-image: url(../../human-interaction-design/assets/images/iphone11.png);
    position: relative;

    .container {
      width: var(--width);
      height: 100%;
      margin: auto;

      form {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        background-color: #fff;
        border-radius: var(--border-sm);
        padding: 1rem;
        width: 80%;

        .top {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          input {
            border-radius: 5px;
            padding: 0.5rem;
            border: 1px solid #ccc;
          }

          a {
            background-color: var(--primary);
            border-radius: 5px;
            display: inline-block;
            padding: 0.2rem;
            text-align: center;
          }
        }
      }
    }
  }
}
